<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->

<!-- Page Content
================================================== -->
<!-- Container -->
<div class="container">

    <div class="row">
        <div class="col-xl-12">

            <div align="center">
                <style>.empty-state-1 img{width:55%}.empty-state-1 h3{padding-left:50px;padding-right:50px}@media only screen and (min-device-width :320px) and (max-device-width :767px){.empty-state-1 img{width:70%}}@media only screen and (min-device-width :768px) and (max-device-width :1024px){.empty-state-1 img{width:50%}}</style>
                <div class="empty-state-1">
                    <img width="50%" src="new/logout.png"><br><br><br>
                    <h1><strong>You have been successfully logged out!</strong></h1><br><br>
                    <h2><strong><mark class="color">Thank you for your visit!</mark></strong></h2>
                </div>
            </div>
            <br>

        </div>
    </div>

</div>
<!-- Container / End -->


<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->
