<div class="container">
    <div class="row">
        <div class="col-xl-12" style="text-align: center">
            <br><br><h1><mark class="color"> Payments</mark></h1><br><br><br>
        </div>
    </div>
</div>

<div class="container">
    <div class="dashboard-box margin-top-0">

        <!-- Headline -->
        <div class="headline">
            <h3>Summary</h3>
        </div>
        <div class="content">
            <ul class="dashboard-box-list margin-left-30 margin-right-30 margin-bottom-30 margin-top-30">
                <div class="empty-state-1">
                    <img src="https://img.icons8.com/emoji/2x/waving-hand-emoji.png"><br><br>
                    <div class="col-xl-12 col-md-6">

                        <div class="section-headline margin-bottom-30">
                            <h4>Summary</h4>
                        </div>
                        <table class="basic-table">

                            <tr>
                                <th>Payment Amount</th>
                                <th>Start Date</th>
                                <th>Usage</th>
                                <th>Refund</th>
                            </tr>

                            <tr>
                                <td data-label="Column 1">$58.80</td>
                                <td data-label="Column 2">26 Sep 2021</td>
                                <td data-label="Column 3">20%</td>
                                <td data-label="Column 3">$32.92</td>
                            </tr>
                        </table>
                    </div><br><br>
                    <p>You can get back your refund in your wallet or invest in the platform<br><br></p>
                </div>
            </ul>

        </div>
        <!--        <div class="plyr__video-embed" id="player" style="margin-top: 0; margin-bottom: 0; margin-left: 100; margin-right: 100; padding-top: 0; padding-bottom: 0; padding-left: 100; padding-right: 100;">-->
        <!--            <iframe id="video_src" src="https://www.youtube.com/embed/YJ5mdUH8UgY?iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>-->
        <!--        </div>-->
    </div>
</div>
<br><br>
<div class="container">
    <div class="dashboard-box margin-top-0">

        <!-- Headline -->
        <div class="headline">
            <h3>Invest</h3>
        </div>
        <div class="content with-padding">
            <p>Enter the type of content you want:</p>
            <textarea></textarea>
            <br><br>
            <div class="row centered-button">
                <a href="/payment-overview" class="button button-sliding-icon gray big ripple-effect margin-top-10 margin-bottom-10">Invest Back<i class="icon-material-outline-arrow-right-alt"></i></a>
            </div><br><br>
        </div>
    </div>
</div>
<br><br><br>
